# Rust
/target

# Python
.mypy_cache

# Test data
/test_data/taxonomies
/test_data/conformance/*
/test_data/examples
!/test_data/conformance/results.csv
!/test_data/conformance/failures.csv

# Environment
**/.env

# Keys
**/*.jks
**/*.p8
**/*.pem
**/*.pfx

# AI assistant
.claude
.github/copilot-instructions.md

# VS Code
.vscode
