# Rust
/target

# Test data
/test_data/taxonomies
/test_data/conformance

# Environment
**/.env

# Keys
**/*.jks
**/*.p8
**/*.pem
**/*.pfx

# AI assistant
.claude
.github/copilot-instructions.md

# VS Code
.vscode
